body {
    margin: 0;
    box-sizing: border-box;
    background-color: #8c4545;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    padding: 10px 20px;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.btn:hover{
    background: #000;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgb(245, 245, 245,.4) ;
}